<!-- app/views/questions/contact.html.erb -->
<form class="formulaire" action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="What do you want ?">
  <input type="submit">
</form>

